$font-stack: 'Roboto', sans-serif;
$color-primary: rgb(80, 114, 240);
$color-primary-hover:rgb(66, 97, 209);
$color-contrast: rgb(250, 132, 53);
$color-secondary: #fa8435;
$color-secondary: #fff;
$color-dark: #333;
* {
  font-family: $font-stack;
}

.bookingForm {
  margin: auto;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  align-items: center;
  &__inputSmall {
    margin-bottom: 20px;
    width: 80%;
    display: block;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgba(10, 56, 222, 0.2);
    transition: all 300ms;
    &:hover {
      border: 2px solid rgba(10, 56, 222, 0.4);
    }
    &:focus {
      border: 2px solid rgba(10, 56, 222, 0.7);
      outline: 0;
    }
    &:nth-child(2) {
      justify-self: end;
    }
    &:nth-child(4) {
      justify-self: end;
    }
    &:nth-child(7) {
      justify-self: end;
    }
  }
  &__checkbox{
    grid-column: 1/-1;

  }
  &__submit {
    grid-column: 1/-1;
    font-size: 1em;
    color: black;
    padding: 10px 0;
    background-color: $color-primary;
    color: white;
    transition: all 300ms;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    margin-top: 10px;
    &:hover {
      cursor: pointer;
      background-color: $color-primary-hover;
    }
  }
  &__date {
    grid-column: 1/2;
  }
}

.licensePlate {
  grid-column: 1/-1;
  background-color: $color-contrast;
  border-radius: 5px;
  padding: 20px 20px;
  color: white;
  margin-bottom: 20px;
  &__text {
    margin: 0;
    margin-top: 5px;
  }
  &__input {
    margin-bottom: 10px;
    width: 25%;
    display: block;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgba(10, 56, 222, 0.2);
    transition: all 300ms;
    &:hover {
      border: 2px solid rgba(10, 56, 222, 0.4);
    }
    &:focus {
      border: 2px solid rgba(10, 56, 222, 0.7);
      outline: 0;
    }
  }
}
