// Variables
$primary-color: #5072f0;
$contrast-color: #fa8435;
$dark: #333;
$font-main: arial, helvetica, sans-serif;

body,
html {
  font-family: $font-main;
  height: 100%;
  text-align: center;
}

.container {
  max-width: 70%;
  margin: auto;
}

.heading {
  color: $dark;
  text-align: center;
  animation-name: example;
  animation-duration: 10s;
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;

  &.active,
  &:hover {
    background-color: $contrast-color;
  }
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}