@charset "utf-8";
/* CSS Document */

$color-primary: #5072f0;
$color-secondary: #fff;
$color-dark: #333;
$font-family: Arial, Helvetica, sans-serif;
$font-size: 1em;

body {
	margin: 0;
    background:url(../img/bg.jpg) no-repeat center center fixed;
    background-size:cover;
}

.container {
    width:300px;
    height:100px;
    background-color:$color-primary;
    padding:55px;
    margin:auto;
    margin-top:50px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
}

form {
    margin-top:25px;
    text-align: center;
}

input {
    margin-bottom:5px;
    width:90%;
}

button {
    float:right;
    margin-right:13px;
    margin-top:20px;
}